/* #region Utilities */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Public Sans', sans-serif;
    border: 1px dashed black;
}

:root {
    --discord-primary: rgba(37, 94, 233, 1);
    --discord-light: rgba(211, 211, 211, 1);
    --discord-lighter: rgba(255, 255, 255, 1);
    --discord-dark: rgba(35, 39, 42, 1);
    --discord-accent: rgba(142, 161, 225, 1);
}

.container {
    display: flex;
    align-items: center;
    width: 70%;
    justify-content: space-around;
}

.section_padding {
    padding: 150px 0px 250px 0;
}

.d-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.column_section {
    flex-direction: column;
    justify-content: space-between;
    gap: 3rem;
}

.btn {
    background-color: var(--discord-lighter);
    color: var(--discord-dark);
    border: none;
    border-radius: 1.25rem;
    font-weight: 600;
}

.lighter_bg {
    background-color: var(--discord-lighter);
}

.light_bg {
    background-color: var(--discord-light);
}

.wave_bg {
    background-repeat: no-repeat;
    background-size: 100% 15%;
    background-position: bottom;
}

.gray_wave {
    background-image: url(../img/greyWave.svg);
}

.white_wave {
    background-image: url(../img/whiteWave.svg);
}

.font_accent_color {
    color: var(--discord-accent);
}

.p_relative {
    position: relative;
}

.p_absolute {
    position: absolute;
}

h1 {
    font-size: 3rem;
    font-weight: bold;
}

h2 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

h3 {
    font-size: 2rem;
    font-weight: bold;
}

p {
    line-height: 1.5rem;
}

hr {
    width: 70%;
}

/* #endregion Utilities */

/* #region Debug rules */

/* #region Footer debug rules */

.debug #site_footer {
    height: 700px;
}

.debug .footer_top {
    width: 70%;
    height: 85%;
}

.debug .footer_bottom {
    width: 70%;
    height: 10%;
    background-color: var(--var-footer_bottom);
}

/* .debug .footer_obj1 {
    height: 90%;
    background-color: var(--var-footer_obj1);
    border: 2px dashed black;
} */

.debug .footer_list {
    height: 90%;
    background-color: var(--var-footer_obj2);
    border: 2px dashed white;
}

.debug .footer_obj3 {
    height: 40%;
    background-color: var(--var-footer_obj3);
    border: 2px dashed black;
}

/* #endregion Footer debug rules */

/* #endregion Debug rules */

/* #region Header */

#site_header {
    background-color: var(--discord-primary);
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo,
.links,
.login {
    padding: 0.5rem 0;
}

.logo,
.login {
    display: flex;
    flex-grow: 1;
    align-items: center;
    width: 30%;
}

.logo {
    justify-content: flex-start;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    flex-grow: 3;
    gap: 3rem;
    color: var(--discord-lighter);
    font-size: 0.75rem;
    font-weight: 600;
}

.login {
    justify-content: flex-end;
}

.btn_login {
    font-size: 0.8rem;
    padding: 0.5rem 0.7rem;
}

/* #endregion Header */

/* #region Main */

/* Banner */
.banner_bg {
    height: 500px;
    background-image: url(../img/jumbo.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner_container {
    width: 45%;
    height: 45%;
    color: var(--discord-lighter);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.banner {
    height: 100%;
    width: 100%;
}

.btn_mac_download {
    background-color: var(--discord-lighter);
    color: var(--discord-dark);
    margin-right: 0.5rem;
    padding: 0.7rem 1.5rem;
    font-size: 1rem;
}

.btn_open_in_browser {
    background-color: var(--discord-dark);
    color: var(--discord-lighter);
    margin-left: 0.5rem;
    padding: 0.7rem 1.5rem;
    font-size: 1rem;
}

/* Main section */
.main_section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section_txt {
    color: var(--discord-dark);
    width: 25%;
}

.tech_section_txt {
    color: var(--discord-dark);
    width: 70%;
}

.star_img {
    width: 75%;
    top: -30%;
}

.btn_accent_color {
    background-color: var(--discord-accent);
    color: var(--discord-lighter);
}

/* #endregion Main */

/* #region Footer */

#site_footer {
    background-color: var(--discord-dark);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.footer_top {
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-grow: 1;
}

.flag {
    width: 15%;
}

.footer_bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_list {
    list-style: none;
    flex-grow: 1.2;
}

.footer_obj2 {
    width: 20%;
}

.footer_obj3 {
    display: flex;
}

/* #endregion Footer */